{% if page.layout != "post" %}
    {% assign reversed_url_array = page.url | split:"/" | reverse %}
    {% if reversed_url_array[0] == "" %}
        {% assign abbr_from_url = reversed_url_array[1] %}
    {% endif %}
    {% if reversed_url_array[0] != "" %}
        {% assign abbr_from_url = reversed_url_array[0] %}
    {% endif %}
    {% assign collection_of_dropdown = site.collections | where:"abbr",abbr_from_url %}
{% endif %}
{% if page.layout == "post" %}
    {% assign collection_of_dropdown = site.collections | where:"label",page.collection %}
{% endif %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/{{ collection_of_dropdown[0].abbr }}/">Why Linux is Better</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ collection_of_dropdown[0].dropdown_name }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for collection in site.collections %}
                    {% unless collection.label == "posts" %}{% unless collection.label == collection_of_dropdown[0].label %}
                    {% if page.layout != "post" %}
                        {% assign different_lang_url = site.baseurl | append:"/" | append:collection.abbr %}
                    {% endif %}
                    {% if page.layout == "post" %}
                        {% assign different_lang_url = site.baseurl | append:"/" | append:collection.abbr | append:"/" | append:page.slug %}
                    {% endif %}
                    <li><a href="{{ different_lang_url }}/">{{ collection.dropdown_name }}</a></li>
                    {% endunless %}{% endunless %}
                    {% endfor %}
                </ul>
            </li>
        </div>
    </div>
</nav>
